@CSSModules(styles, allowMultiple = "true");

.icon {
  width: 1.5rem;
}

/* Navbar CSS */
.toggle {
  cursor: pointer;
  width: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.toggle:hover  {
  opacity: 0.6;
}

.toggle div{
  height: 0.2rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  background: #fff;
  transition: 0.2s ease-in;
}

.nav-active div.line1 {
  transform: rotate(-45deg) translate(-0.4rem, 0.5rem);
}

.nav-active div.line2 {
  opacity: 0;
}

.nav-active div.line3 {
  transform: rotate(45deg) translate(-0.3rem, -0.5rem);
}

.nav-menu {
  font-family: 'Kemco-Pixel-Bold', sans-serif;
  background-color: #28248c;
  width: 3.75rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1.25rem;
  overflow: hidden;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  width: 13rem;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0px 0.7rem 0;
  list-style: none;
  /* height: 3rem; */
  /* margin-bottom: 0.5rem; */
}

.nav-text a {

  color: #fff;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration-color: #E3FF37;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.link-underline {
  text-decoration: underline;
}

.link-none {
  text-decoration: none;
}

.nav-text a:hover {
  opacity: 0.6;
}



.nav-subNav:last-child {
  margin-bottom: -0.5rem;
}

.nav-subNav-text {
  margin: 0.5rem 0rem 0.5rem 1.5rem;
}

.nav-menu-items {
  width: 100%;
  list-style-type: none;
}

span {
  margin-left: 1.1rem;
  line-height: 1.5rem;
  width: 7rem;
}

