@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Kemco-Pixel-Bold';
  src:url('./fonts/Kemco-Pixel-Bold.ttf.woff') format('woff'),
      url('./fonts/Kemco-Pixel-Bold.ttf.svg#Kemco-Pixel-Bold') format('svg'),
      url('./fonts/Kemco-Pixel-Bold.ttf.eot'),
      url('./fonts/Kemco-Pixel-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  background: url(./assets/backdrop.png);
  background-repeat: repeat;
  background-size: 50%;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
